
.navbarr{
  display: flex;
  justify-content: space-between;
  color: aqua;
  background-color: rgb(145, 35, 35);
  height: 40px;
  place-items: center;
  padding: 10px;
  font-family: cursive;
  
}


.aboutpage{
  font-family: cursive;
}

.Contactpage{
  font-family: cursive;
  text-align: center;
}



.social-container {
  background: white;
  padding: 25px 50px;
  color: black;
}

a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}

a.social:hover {
  transform: translateY(-2px);
}

a.social {
  color: black;
}


.email{
  text-align: center;
}
.center{
  text-align: center;
}
.large{
  font-size: 35px;
  text-align: center;
}



.fade-in{
  transition: opacity 1s ease;

}

.fade-out{
  opacity: 0;
  transition: opacity 1s ease;

}