
.navbarr{
  display: flex;
  justify-content: space-between;
  color: aqua;
  background-color: rgb(145, 35, 35);
  height: 40px;
  place-items: center;
  padding: 10px;
  font-family: cursive;
}


.aboutpage{
  font-family: cursive;
  

}